/* styles for this webapp. */
* {
    color: #3d3d3d;
    font-family: 'Arial', sans-serif;
}
  
body {
    align-items: center;
    background-color: rgb(249, 254, 246);
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    min-width: 80vh;
    display: grid;
}

/* Landing page CSS */
 .landing {
    display: block;
    margin: 0 0 0 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

 .title {
    height: 5vh;
    text-align: center;
    font-size: 1.6rem;
    color: black;
}

body .landing .bottom-part {
    background-color: rgb(61, 58, 59);
    margin-top: 55vh;
    height: 45vh;
    width: 100%;
    position: absolute;
    z-index: 10;
}

body .landing .slogan {
    position: absolute;
    color: rgb(100, 100, 100);
    display: block;
    margin-top: 15vh; 
    height: 20vh;
    width: 60vh;
    text-align: center;
    z-index: 100;
    font-size: large;
}

body .landing .logo {
    position: absolute;
    display: block;
    margin-top: 30vh; 
    margin-left: 12vh;
    height: 36vh;
    width: 36vh;
    z-index: 100;
}

body .landing .login {
    position: absolute;
    background-color: rgb(202, 235, 204);
    display: block;
    margin-top: 10vh; 
    margin-right: 5vh;
    margin-left: 60vw;
    height: 70vh;
    width: 30vw;
    text-align: center;
    z-index: 200;
    border: 2px solid rgb(202, 235, 204);
    border-radius: 15px;
}

body .landing .login * {
    margin-top: 3vh;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
    width: 80%;
    height: 8vh;
}

body .landing .login .label {
    font-size: medium;
    text-align: center;
    margin-top: 5vh;
    height: 6vh;
}

body .landing .login .submit{
    margin-top: 8vh;
    height: 8vh;
    border: #696868;
    background-color: #696868;
    color: white;
}


/* Landing page CSS End */

/* main page CSS start */




/* main page css end*/